.back{
	margin-left:  400px !important;
	
}

.add-success {
    color: #fff !important;
    background-color: #1dc9b7 !important;
    border-color: #1dc9b7 !important;
    color: #ffffff !important;
    padding: 10px 10px 12px 12px !important;
}